.get_container {
    position: relative;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    padding: 3rem 0;
    background:var(--grey);
   
    }
    
.get_started {
    display: flex;
    width: 70%;
    flex-direction: column;
    row-gap: 1.2rem;
    text-align: center;
    align-items: center;
}

.get_started > h1,
.get_started > h4 {
   white-space: pre-wrap;
   word-wrap: normal;
}

.get_started > h1 {
    margin-top: 1rem;
    color: var(--aqua);
}

.get_started > h4 { 
    font-size: 1.5rem;
    text-transform: uppercase;

}

.get_started > a {
    width: 300px;
    font-size: 1.5rem;
}

.get_started > p { 
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .get_started > h1 {
        font-size: 2.2rem;
    }
    .get_started > p {
        font-size: 1rem;
    }
    .get_started > a {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 300px) {
    .get_started > h1 {
        font-size: 1.8rem;
    }
    .get_started > p {
        font-size: 1rem;
    }
    .get_started > a {
        font-size: 1.3rem;
        width: 200px;
    }
}