.floating_Container {
    position: fixed;
    bottom: 25px !important;
    left: 25px;
    width: max-content;
    bottom: 75px;
}

.floating_Container > a {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 400;
}

.floating_Container > a > svg {
    font-size: 2.3rem;
    line-height: 1.7rem;
}


@media screen and (max-width: 1000px) {
    .floating_Container > a {
        font-size: 1.3rem;
    }
    .floating_Container > a > svg {
    font-size: 1.8rem;
    line-height: 1.3rem;
}
}


@media screen and (max-width: 800px) {
    .floating_Container > a > span {
        display: none;
    }
}