.qa_container {
    padding-top: 1.5rem;
    list-style: none;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.open {
    padding: 15px 0;
    transition: all ease-in-out var(--transition);
    overflow: hidden;
    
}

.answer_container >h1 >svg {
    line-height: 2rem;
    font-size: 1.5rem;
    transition: all ease-in-out var(--transition);
}

.answer_container > h1 {
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    white-space: pre-wrap;
    font-size: 2rem;
    color: var(--aqua);
    font-weight: 500;
}
 

.open > p {
    cursor: pointer;
    padding-bottom: 15px;
    margin-left: 24px;
    white-space: pre-line;
    font-size: 1.3rem;
    margin-top: 1.2rem;
}

.open > p > strong,
.open > p > b {
    color: var(--aqua);
}

.open > p::before,
.open > p > strong::before {
    color: var(--black);
    font-weight: bold;
    content: "-- "
    
}