<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/bd35cfa493.js" crossorigin="anonymous"></script>
  <title>Modern HTML Email Template</title>
  <style type="text/css">
    * {
      text-decoration: none;
    }


    body {
      margin: 0;
      width: 100vw;
      background-color: #cccccc;
    }

    table {
      border-spacing: 0;
    }

    td {
      padding: 0;
    }

    img {
      border: 0;
    }

    .wrapper {
      width: 100%;
      table-layout: fixed;
      background-color: #cccccc;
      padding-bottom: 60px;
    }

    .main {
      background-color: #fff;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      border-spacing: 0;
      font-family: sans-serif;
      color: #171a1b;
    }

    .two-columns {
      text-align: center;
      font-size: 0;
    }

    .two-columns .column {
      width: 100%;
      max-width: 300px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
    }



    /* baner */
    .baner {

      /*background-image: url(https://i.postimg.cc/4NWvWdY4/img.webp);   */
      background-image: url(https://www.symmetria.com/media/znrlw1mk/symmetria-iv-drips.jpg);
      background-position: center;
      background-size: cover;
      height: 400px !important;
      display: block;
      text-align: center;
      padding-top: 30px;
    }


    .img_text {
      width: 100%;
      font-size: 2.3rem;
    }

    .p_text {
      font-size: 1.7rem;
      font-weight: 200;
      padding: 0 20%;
    }

    .a_text {
      width: 200px;
      transition: all ease-in-out 0.3s;
      font-size: 1.5rem;
      color: black !important;
      background-color: #FFBD59;
      border: 1px solid transparent;
      padding: 0.7rem 1.4rem;
      line-height: 1.5;
      font-weight: 300;
      text-align: center;
      border-radius: 100px;
      bottom: 20px;
      font-size: 30px;
      text-decoration: none;

    }



    .a_text:hover {
      background-color: #1592A8;
      color: white !important;
    }

    .p_message {
      font-size: 1.2rem;
      font-weight: 200;
    }

    .ii a[href] {
      color: black;
    }

    @media screen and (max-width: 500px) {
      .img_text {
        font-size: 1.6rem;
      }

      .p_text {
        font-size: 1.3rem;
        top: 45px;
      }

      .a_text {
        font-size: 1.2rem;
      }
    }

    @media screen and (max-width: 400px) {
      .img_text {
        font-size: 1.4rem;
        margin-bottom: 0;
      }

      .p_text {
        margin-top: 10px;
        font-size: 1.1rem;
      }

      .a_text {
        width: 40%;
        bottom: 7px;

      }

    }
  </style>
</head>

<body>


  <center class="wrapper">

    <table class="main" width="100%">

      <!-- TOP BORDER -->

      <tr>
        <td height="8" style="background-color: #171a1b;"></td>
      </tr>

      <!-- LOGO SECTION -->

      <tr>
        <td style="padding: 14px 0 4px;">
          <table width="100%">
            <tr>
              <td class="two-columns">
                <table class="column">
                  <tr>
                    <td style="padding: 0 62px 10px;">
                      <a href="https://med-web-navy.vercel.app/" target="_blank">
                        <img src="https://i.postimg.cc/hjKHRsBR/logo.png" alt="img is chilling" title="main website"
                          width="180px">
                      </a>
                    </td>
                  </tr>
                </table>
                <table class="column">
                  <tr>
                    <td style="padding: 13px 99px; display: inline-block; ">
                      <a href="https://www.instagram.com/hydrationationiv/"
                        style="color:black; font-size: 35px !important; height: 35px;" target="_blank">
                        <img
                          src="https://i.ibb.co/R9XHt9F/CITYPNG-COM-Black-And-White-Outline-Instagram-App-Logo-Icon-512x512.png"
                          height="35px">
                      </a>
                      <a href="https://www.facebook.com/HydratioNationIV/"
                        style="color:black; font-size: 35px !important; height: 35px;" target="_blank">
                        <img
                          src="https://i.ibb.co/VgMwSmN/CITYPNG-COM-Round-Black-Facebook-Fb-Logo-Icon-Sign-980x976.png"
                          height="35px">
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- BANNER IMAGE -->

      <tr>
        <td class="baner">

          <h1 class="img_text">HydratioNation</h1>
          <p class="p_text">Making the healthy, healthier, in the most effective yet simplest way.</p>
          <a class="a_text" href="https://med-web-navy.vercel.app/">Get Started</a>

        </td>
      </tr>


      <!-- THREE COLUMN SECTION -->

      <tr>
        <td style="padding: 10px;">
          <h1 class="message">Dear {{name}}, we recived you message!</h1>
          <p class="p_message">We are working on your question and we will contact you ASAP.</p>
          <p class="p_message">If you have any other questions feel free to contact us!</p>
          <p class="p_message">Thank you!</p>
        </td>
      </tr>

      <!-- TWO COLUMN SECTION -->


      <!-- TITLE, TEXT & BUTTON -->


      <!-- FOOTER SECTION -->

    </table>

  </center>

</body>

</html>