.main_section {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-top: 110px;   
    background: url("../img/main.png");
    background-size: cover;
    background-position: center;
}

.main_text_box {
    text-align: center;
    height: 50vh;
    width: 40vw;
    margin: 10vh auto auto 15vw;
    font-weight: 200;
    font-size: 2rem;
}

.main_text_box > * {
    margin-bottom: 1.3rem;
}

.main_text_box a{
    font-weight: 300 !important; 
    font-size: 1.6rem;
}


@media screen and (max-width: 1024px) {
   .main_text_box {
    margin-top: 17vh;
    font-weight: 300;
    width: 70vw;
   }
}

@media screen and (max-width: 900px) {
     .main_section {
    background-position: calc(100% - 40%) center;
   }
    
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ============= */

@media screen and (max-width: 600px) {
    .main_text_box {
    margin-top: 17vh;
    font-weight: 300;
    width: 90vw;
    margin-left: auto !important;
   }
    .main_section {
    background-position: calc(100% - 42%) center;
   }
  
}


/* ================== MEDIA QUERIES (Extra SMALL DEVICES) ============= */

@media screen and (max-width: 500px) {
   .main_text_box > h1 {
    font-size: 2rem;
   }
   .main_text_box > * {
    font-size: 1.7rem;
   }
   .main_section {
    background-position: 881px bottom;
   }
}
