

.about_container {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 3.5rem;
}


.about_img {
    background: url("../../img/aboutus.png");
    height: 89vh;
    background-position: center;
}

.kid_container > p {
    font-size: 1.7rem;
    font-weight: 200;
    
}

.kid_container > p::before {
content: "- ";
font-weight: 600;
}

 

.kid_container > p > b {
    color: var(--aqua);
}



@media screen and (max-width: 700px) {
   .about_container {
    row-gap: 2.4rem;
   }
}


@media screen and (max-width: 550px) {
   .kid_container > p {
    font-size: 1.4rem;
   }

   .about_img {
    background-position: right -400px bottom -10px !important;
   }
   
}