.nav_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 4;
    height: 100px;
    width: 100vw;
    color: var(--black);
    transition: var(--transition);
    background-color: rgba(255, 255, 255, 0.85);
}

.nav_active { 
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav_box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 75vw;
    margin: 0 auto;
}

.nav_img_con {
    height: 100px;
    display: flex;
    align-items: center;
}

.nav_img {
    position: absolute;
    left: 0;
    height: 95px;
    width: auto;
}

.nav_link_holder {
    position: absolute;
    right: 0;
    width: 80%;
    text-transform: uppercase;
    height: 92px;
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    gap: 1.5rem;
}

.nav_link_holder a:hover{
    color: var(--aqua);
}

.Hamburger_container{ 
    display: none;
    position: absolute;
    height: 100%;
    right: 0;
}

.nav_link_mobile{
    height: 0;
    transition: var(--transition);
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 105px;
    row-gap: 1rem;
}

.nav_link_mobile_active {
    height: 210px;
}

.nav_container_mobile{ 
    height: 330px;
    background-color: rgba(255, 255, 255, 1);
}
    
 
@media screen and (max-width: 1300px) {
    .nav_box{
    width: 96vw;
   }
    .nav_img {
    height: 85px;
}
}

  
@media screen and (max-width: 1060px) {
   .Hamburger_container{ 
    display: flex;
    align-items: center
    }
    .nav_link_holder{ 
        display: none;
    }
}

@media screen and (max-width: 500px) {
   .nav_img {
    height: 75px;
}
   
}
